:root {
    --accent-color: #212121;
    --brand-color: #2196F3;
    --text-color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*=========COMPONENTS=========*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.logo-web {
    color: var(--accent-color);
}

.block-header {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*=========HEADER=========*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu-item {
    position: relative;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--brand-color);
}

.menu .link.current {
    color: var(--brand-color);
}

.menu-link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: var(--brand-color);
    border-radius: 2px;
}

.contacts-header {
    display: flex;
}

.contact-link {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, 
.contact-link:focus {
    color: var(--brand-color);
}

.contact-link-icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-link-icon,
.contact-link:focus .contact-link-icon {
    fill: var(--brand-color);
}

/*=========HERO=========*/
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-bg.jpg');
    background-size: cover, 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F303A;
}

.hero-header {
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.modal-btn {
    display: block;
    min-width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--brand-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}

/*=========ADVANTAGE=========*/
.advantage {
    padding-top: 94px;
}

.advantage-list {
    display: flex;
}

.advantage-list-item {
    width: 270px;
    min-height: 101px;
}

.advantage-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.advantage-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantage-header {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantage-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*=========SERVICES=========*/
.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-list-container {
    position: relative;
    width: 370;
    left: 294;
}

.service-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.services-header {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

/*=========OUR TEAM=========*/
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.our-team {
    background: #F5F4FA;
}

.team-content {
    padding: 30px 20px;
    background-color: #fff;
}

.name-team {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.profession-team {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--brand-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: #fff;
}

/*=========CLIENTS=========*/

.clients-list {
    display: flex;
    justify-content: center;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--brand-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--brand-color);
}

/*=========FOOTER=========*/
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-item {
    display: flex;
    align-items: baseline;
}

.logo-contacts-footer {
    margin-right: 70px;
}

.logo-footer {
    color: #fff;
}

.contacts {
    margin-top: 20px;

    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address-link {
    color: #FFFFFF;
}

.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
}

.social-footer {
    margin-right: 93px;
}

.footer-header {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.social-footer-list {
    display: flex;
}

.social-footer-item:not(:last-child) {
    margin-right: 10px;
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
    fill: #fff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--brand-color);
}

.social-footer-link:hover .social-footer-icon,
.social-footer-link:focus .social-footer-icon {
    fill: #fff;
}

.footer-subscription-form {
    display: inline-block;
}

.footer-subscription-input {
    width: 358px;
    height: 50px;
    padding: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-input:focus {
    outline: none;
    border: 1px solid var(--brand-color);
}

.footer-subscription-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    background-color: var(--brand-color);
    border-radius: 4px;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-btn-span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.subscription-icon {
    margin-left: 10px;
    fill: #fff;
}

.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
    background-color: #188CE8;
    cursor: pointer;
}

/*=========PORTFOLIO=========*/
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-type-btn {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    background: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-type-btn:hover,
.filter-type-btn:focus {
    color: #fff;
    background-color: var(--brand-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.project-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .text-overlay,
.project-link:focus .text-overlay {
    transform: translateY(0);
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project-container {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.project-header {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*=========BACKDROP=========*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--brand-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/*=========CONTACT MODAL FORM=========*/

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-appeal {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.contact-form-field-wrapper {
    position: relative;
    display: block;
}

.contact-form-field-span {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.contact-form-input {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),;
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--brand-color);
}

.contact-form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
    fill: var(--brand-color);
}

.contact-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: var(--brand-color);
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.contact-form-checkbox-policy-span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.contact-form-checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--brand-color);
}

.contact-form-checkbox-label::before {
    display: block;
    width: 16px;
    height: 15px;
    margin-left: 14px;
    margin-right: 7px;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    cursor: pointer;
    content: '';
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
    background-color: var(--brand-color);
    background-image: url(../images/checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
    border: 1px solid var(--brand-color);
}

.contact-form-btn {
    min-width: 200px;
    height: 50px;
    align-self: center;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
        background-color: #188CE8;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}