.clients-list {
    display: flex;
    justify-content: center;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--brand-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--brand-color);
}