.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-item {
    display: flex;
    align-items: baseline;
}

.logo-contacts-footer {
    margin-right: 70px;
}

.logo-footer {
    color: #fff;
}

.contacts {
    margin-top: 20px;

    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address-link {
    color: #ffffff;
}

.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
}

.social-footer {
    margin-right: 93px;
}

.footer-header {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.social-footer-list {
    display: flex;
}

.social-footer-item:not(:last-child) {
    margin-right: 10px;
}

.social-footer-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
    fill: #fff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--brand-color);
}

.social-footer-link:hover .social-footer-icon,
.social-footer-link:focus .social-footer-icon {
    fill: #fff;
}

.footer-subscription-form {
    display: inline-block;
}

.footer-subscription-input {
    width: 358px;
    height: 50px;
    padding: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2f303a;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-input:focus {
    outline: none;
    border: 1px solid var(--brand-color);
}

.footer-subscription-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-icon {
    margin-left: 10px;
    fill: #fff;
}

.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
    background-color: var(--hover-color);
    cursor: pointer;
}